:root {
  --background: #eeedf8;
  --foreground: #20262e;
  --error: rgb(255, 63, 63);
  --link: rgb(206, 45, 88);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

// generic

.anchor {
  font-size: 0.8em;
  margin-right: 0.5em;
  opacity: 0.6;
}

.katex-error {
  color: var(--error);
  font-style: italic;
  font-family: serif;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a,
a:visited {
  color: var(--link);
}

blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: solid var(--link) 3px;
}

// layout

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0.5rem 3rem;

  h2 {
    display: inline;
    float: left;
  }
}

main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
  box-sizing: border-box;
}

@media (width < 800px) {
  main {
    width: 100vw;
    overflow-x: scroll;
  }
}

footer {
  text-align: center;
  padding: 2rem;
}
